/* nav */
nav {
    background: white;
}

.navlink {
    color: cornflowerblue;
    margin-right: 35px;
    font-family: 'EB Garamond', serif;
    color: rgb(38, 8, 107);
}

.navlink.nav-link:hover,
.navlink.nav-link:active {
    color: rgb(214, 143, 35);
}

.navlink:after,
.navlink:before {
    backface-visibility: hidden;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
    opacity: 0;
}

.navlink.nav-link:after,
.navlink.nav-link:before {
    border: 1px solid rgb(255, 205, 129);
}

.navlink:hover:after,
.navlink:hover:before {
    backface-visibility: hidden;
    transition: width 450ms ease-in-out;
    width: 70%;
    max-width: 110px;
    opacity: 1;
}

/* header */
.header-gradient {
    width: 100%;
    position: relative;
    bottom: 47px;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(201, 36, 36, 0) 100%);
}


/* main */
.textblue {
    color: rgb(14, 14, 151);
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 0, 3vh;
}

.text-justify {
    text-align: justify;
}

.mask a {
    color: tan;
    text-transform: uppercase;
}

.mask p {
    text-align: justify;
}

#indicator {
    background-color: rgb(139, 137, 137);
    border-radius: 0%;
    height: 12px;
}

#khong-gian-tien-ich:hover h3 {
    color: rgb(255, 191, 95);
    transition: color 1s;
}

#tthover:hover p {
    color: rgb(218, 154, 59);
    transition: color 1.5s;
}

#tabs-tiec-cuoi {
    color: rgb(218, 154, 59);
    font-weight: 500;
}

.hover-uu-dai:hover {
    transition: color 1.1s;
    text-decoration: underline;
    color: rgb(243, 163, 64);
}

.date-post-news {
    color: rgb(161, 155, 155);
    font-family: serif;
}

#chitiet {
    color: rgb(243, 164, 46);
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    bottom: 10px;
    position: relative;
}

#chitiet:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(241, 161, 41);
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

#chitiet:hover:after {
    width: 100%;
    left: 0;
}

.tieu-de-all {
    width: 100%;
    position: absolute;
    bottom: 1px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: rgb(6, 0, 107);
    background: linear-gradient(0deg, rgba(6, 0, 107, 1) 0%, rgba(12, 0, 108, 0.3743872549019608) 50%, rgba(10, 1, 109, 0.22032563025210083) 59%, rgba(1, 4, 111, 0.055059523809523836) 94%, rgba(0, 4, 111, 0) 100%);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    div.text-khung {
        font-size: 12px;
    }
}

/* form */
.myform input[type="text"],
.myform input[type="date"],
.myform input[type="datetime"],
.myform input[type="email"],
.myform input[type="number"],
.myform textarea,
.myform select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid rgba(177, 176, 176, 0.37);
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: rgb(165, 150, 150);
}



.myform textarea {
    resize: none;
    overflow: hidden;
}

/*  */
.text-footer {
    font-family: 'EB Garamond', serif;
}

footer a {
    color: wheat;
}

footer a:hover {
    color: coral;
}

form span {
    font-style: italic;
    font-size: 1.3vh;
    color: red;
}

/* translate */
#google_translate_element div.goog-te-gadget-simple {
    border-color: white;
}

#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span {
    color: rgb(38, 8, 107);
}

.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
    display: none !important;
}